body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed-todo {
   text-decoration-line: line-through;
   color:rgba(87, 214, 236, 0.87);
}


.incomplete-todo {
   text-decoration-line: underline;
   color:rgba(110, 224, 100, 0.78);
}

.todo-item {
  cursor: pointer;
}
